body {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    margin:0;
    background-color: rgba(255, 255, 255, 0.5);
}
div img{
    text-align: center;
    border-radius: 50%;
    margin-bottom: 8%; 
    margin-left: 20%;
}
.container{
    text-align: center;
    max-width:400px;
    margin:5px auto;
    padding: 20px;
    background-color:rgb(116, 116, 116);
    border: none;
    border-radius:3px;
    cursor: pointer;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.forms{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#processa {
    width:100%;
    padding:10px;
    background-color:#007bff;
    color:white;
    border:none;
    border-radius:3px;
    cursor: pointer;
}
select, input, button {
    align-items: center;
    width: 80%; 
    padding: 10px; 
    margin-bottom: 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    font-size: 16px;
}